.chooseBeat {
    text-decoration: none;
    color: #b5b88a;
    font-weight: bold;
  }
  
  .track th {
    text-align: left;
    width: 100px; 
  }
  
  .track .vol {
    width: 140px;
    height: 20px;
  }
  
  .track .mute {
    width: 56px;
  }



  