.beat {
    background: #eee;
    text-align: center;
    line-height: 1em;
    border-radius: 0.1px;
  }
  
  .beat.active {
    background: hsla(44, 56%, 29%, 0.897);
  }
  
  .beat.current {
    background: #e2d4074f;
    animation: flip 0.66s ease-in reverse 1;
  }
  
  .beat > a {
    display: inline-block;
    width: 48px;
    height: 48px;
  }

  .active.flip{
      animation: flip 0.2s ease-out alternate 1;
  }


  @keyframes flip {
      0%{
          transform: rotateY(0deg);
      }
      100%{
          transform: rotateY(180deg);
      }
  }

  /* .beat:nth-of-type(3),
  .beat:nth-of-type(7),
  .beat:nth-of-type(11), */


  